In [2]:
from openai import OpenAI
import os
from tabulate import tabulate
import pandas as pd

import sqlite3
import utils

In [2]:
api_key = os.getenv("OPENAI_API_KEY")

In [9]:
input_message = "Give me all the inbound transactions of the parent1"
table_info_file = "data/db_info.txt"

In [10]:
model_setup = utils.initalize_sqlgenex("gpt-4o", api_key=api_key, table_info_file=table_info_file)

In [11]:
model_response = utils.ask_sqlgenex(model_setup["client"], model_setup["model_name"], input_message, model_setup["chat_history"])

In [12]:
sql_str = model_response["output_message"]
db_name = "data/example_db.db"
df_output = utils.read_table(sql_str, db_name)

In [13]:
df_output

       date company_id  amount direction
0  20230101   company1  1000.5   inbound

In [9]:
def format_dataframe_tabulate(df):
    return tabulate(df, headers='keys', tablefmt='grid')

In [ ]:
format_dataframe_tabulate(df_output)